<html>
  <head>
    <title>Nukeio - You've signed up!</title>
    <meta name="Description" content="Thanks for signing up to receive updates about the new game!">
  </head>
  <body>
    <h1>Finished signup!</h1>
    <p>
      Thank's for signing up! In the future once this place looks a little better and there is more to show, we'll be sharing progress and asking for help to spread the word. For now though, let's just keep this site between you and me. It kinda looks like 1994 around here :)
    </p>
    <p>
      Thanks again!
    </p>
  </body>
</html>
